/* Stil für das Zentrieren von Inhalten in der Mitte des Bildschirms */
.center-content {
  color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh; /* 80% der Bildschirmhöhe */
  }

  table {
    border-collapse: collapse;
    width: 80%;
    max-width: 850px;
    margin-top: 1px;
    background-color: rgb(0, 0, 0);
  }

  th, td {
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: left;
  }

  thead {
    background-color: #000000;
    color: #ff0000;
  }

  tr:hover {
    background-color: #ff0000;
    color: #000000;
  }

  .delete-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  .edit-button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .edit-button::before {
    font-family: "Font Awesome 5 Free";
    margin-right: 7px;
  }

  .save-button {
    background-color: rgb(142, 142, 142);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  .save-button::before {
    font-family: "Font Awesome 5 Free";
    margin-right: 7px;
  }

  .cancel-button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  /* Stil für ein Symbol vor dem Abbrechen-Button */
  .cancel-button::before {
    font-family: "Font Awesome 5 Free"; /* Verwendet eine Font Awesome 5 Free-Schriftart */
    margin-right: 7px;
  }
  
  /* Stil für ein Symbol vor dem Lösch-Button */
  .delete-button::before {
    content: "\f7f9"; /* Fügt ein spezifisches Font Awesome-Symbol hinzu */
    font-family: "Font Awesome 5 Free"; /* Verwendet eine Font Awesome 5 Free-Schriftart */
    margin-right: 7px;
  }
  
  /* Zusätzlicher Abstand für das Zentrieren von Inhalten */
  .center-content {
    margin-top: 200px;
    margin-bottom: 380px;
  }
  
  @media (max-width: 768px) {
    .center-content{
      height: 450px;
      width: 760px;
    }
  }
  