body{
margin: 0;
padding: 0;
background-color:rgb(83, 83, 83);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navto{
  background-color: black;
  color: red;
}
.nav-links a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  margin: 0 15px;
}
.logo{
  height: 20px;
}